{% extends 'base.html.twig' %}

{% block title %}Список клиентов{% endblock %}

{% block body %}
    <h1>Список клиентов</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
            <th>Э-почта</th>
            <th>Образование</th>
            <th>Согласие на обработку персональных данных</th>
            <th>Скоринг</th>
        </tr>
        </thead>
        <tbody>
        {% for client in pagination %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.firstName }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.education }}</td>
                <td>{{ client.giveAgreement }}</td>
                <td>{{ client.scoring }}</td>
{#                <td>#}
{#                    <a href="{{ path('client_show', {id: client.id}) }}">Посмотреть</a> |#}
{#                    <a href="{{ path('client_edit', {id: client.id}) }}">Редактировать</a>#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        </tbody>
    </table>
{% endblock %}